---
permalink: /feeds/news.json
tags: feed
---
[{%- for entry in collections.news -%}
  {
    "title": "{{- entry.data.title | safe -}}",
    "text": "{{- entry.templateContent | safe | trim  -}}"
  }{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}]
