---
permalink: /feeds/news.json
tags: feed
---
[
{%- for entry in collections.news -%}
  {
    "title": "{{ entry.data.title }}",
    "text": "{{- entry.templateContent | safe  -}}"
  }{% if not loop.last %},{% endif %}
{%- endfor -%}
]
